* {
    box-sizing: border-box;
 }

 body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
 }


/* esto es del slider */
.img-front{
    height: 70%;
    width: 95%;
}
/* .container__slider{ asi estaba antes, lo cambie para que el texto quede centrado*/
   .container{
    width: 79%;
    margin: auto;
    overflow: hidden
}
.container__slider ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 20s infinite alternate;
}
.container__slider li{
    width: 100%;
    list-style: none;   
}

.container__slider img{
    width: 100%;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

/* esto es del nav  */

.nav-list a {
   color: white;
   font-weight: 300;
   letter-spacing: 2px;
   text-decoration: none;
   background: rgb(49, 176, 166);
   padding: 20px 5px;
   display: inline-block;
   width: 100%;
   text-align: center;
}

.nav-list a:hover {
   background: rgba(65, 63, 63, 0.75);
}

.main-nav {
   max-width: 1300px;
   margin: 0 auto;
   padding: 0 3em 1.5em;
}

.navigation ul {
   border: 1px solid rgb(49, 176, 166);
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
}

.navigation li {
   flex: 1;    
}

.navigation .user {
   flex: 1;
}

@media all and (max-width: 1000px) {
   .navigation ul {
      flex-wrap: wrap;
   }
   
   .navigation li {
      flex: 1 1 50%;
   }

   .navigation .user {
      flex: 1 1 33.33%;
   }
}

@media all and (max-width: 480px) {
   .navigation li {
      flex-basis: 100%;
   }

   .navigation .user {
      flex-basis: 50%;
   }
}

/* esto es de la pagina de contacto,
 se podria hacer con bootstrap porque esta fulera */

/* .contact-area {
   max-width: 1300px;
   margin: 0 auto;
   padding: 0 3em 1.5em;
}

.subcontact {
   color: white;
   font-weight: 300;
   letter-spacing: 2px;
   text-decoration: none;
   background: rgb(49, 176, 166);
   padding: 20px 5px;
   display: inline-block;
   width: 100%;
   text-align: center;
} */

/* esto es de la pagina de paises */
h1 {
   font-size: 4rem;
}

h2 {
   font-size: 3.2rem;
}

p {
   font-size: 2rem;
}

.entrada-blog a {
   display: inline-block;
   /* background-color: #2196F3; */
   color: white;
   padding: 10px 20px;
   text-decoration: none;
   font-weight: bold;
   text-transform: uppercase;
}

.contenedor {
   max-width: 1200px;
   width: 95%;
   margin: 0 auto;
}

@media (min-width: 600px) {
   .contenedor {
       width: 80%;
   }
}

@media (min-width:768px) {
   .contenedor {
       width: 90%;
   }
}